APP_NAME=Full Stack Mailer
APP_ENV=development

API_HOST=0.0.0.0
API_PORT=8000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/full_stack_mailer


MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common

MICROSOFT_REDIRECT_URI=http://localhost:8000/auth/microsoft/callback